.main {
	padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.placeholders{
	text-align: center;
}
.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}